	<div class="card">
		<form ng-submit="checkouteq()">
		<table class='add-form'>
			<thead><br><h3><span class="line">Select Category</span></h3></thead>
				<tr>
					<td><br>
						<label>Select the options you want to put your Equipment in !</label>
					</td>
				</tr>
				<tr>
				<td>
					Offline<input type="checkbox" ng-model='basic.category.offline'>
					Buy it now<input type="checkbox" ng-model='basic.category.buynow'>
					Dealer to Dealer<input type="checkbox" ng-model='basic.category.d2d'>
					Auction<input type="checkbox" ng-model='basic.category.auction'>
				</td>
			</tr>
			<tr>
				<td colspan="2"><button class="btn btn-primary">SUBMIT</button></td>
			</tr>
		</table>
		</form>
		<br><br>
	</div>