<link href="build/styles/dealer_equipments.css" rel="stylesheet">
<div ng-controller="dealer_equipmentsCtrl">

<a class="btn btn-default" id="add" href="Add_Equipment"> <i class="fa fa-plus"></i>&nbsp;ADD Equipment</a>
<br><br>

<div class="row">
	<a href="/carprofile/1" class="link">
	 <div class="col-md-3 card eq-card" ng-repeat="item in my_equip">
		<div><img src="{{item.image}}" class="img-thumbnail eq-image"></div>
		<div class="eq-desc">
			<center>
				<div style="color:navy">
					<label>{{item.model}}</label>
					<span>&nbsp; {{item.brand}} </span>
					<span>&nbsp;{{item.year}} </span>
					<span class="pull-right like"><i class="fa fa-thumbs-up"></i> {{item.likes}}</span>
				</div>
				<hr id='sep'>
				<table>
					<tr>
						<td>
							Variant
						</td>
						<td>
							: &nbsp;{{item.variant}}
						</td>
					</tr>
					<tr>
						<td>
							Cost Price
						</td>
						<td>:&nbsp; 
							<i class="fa fa-inr"></i>{{item.bought_price}}
						</td>
					</tr>
				</table>
			</center>
		</div>
	 </div>
	</a>
</div>

<style type="text/css">
	.row{margin-left:40px;margin-right:10px}
	.link{color:black;}
	.link :hover{color:black;}
	.col-md-3{width:21%;display:block; }
	.fa-thumbs-up{color:navy; font-size:16px; }
	.eq-desc td{width:90px;}
	#sep{margin:5px 15px 10px 15px;}
	.like{border:1px solid rgba(0,0,0,0.1);padding:2px;}
</style>