<div>
    <h1>{{$ctrl.label}}</h1>

    <h3>Understanding Components</h3>

    <p>In Angular, a Component is a special kind of directive that uses a simpler configuration which is suitable for a component-based application structure.
    This makes it easier to write an app in a way that's similar to using Web Components or using Angular 2's style of application architecture.</p>

    <p>Advantages of Components:</p>
    <ul>
        <li>simpler configuration than plain directives</li>
        <li>promote sane defaults and best practices</li>
        <li>writing component directives will make it easier to upgrade to Angular 2</li>
    </ul>

    <p>When not to use Components:</p>

    <ul>
        <li>for directives that need to perform actions in compile and pre-link functions, because they aren't available</li>
        <li>when you need advanced directive definition options like priority, terminal, multi-element</li>
        <li>when you want a directive that is triggered by an attribute or CSS class, rather than an element</li>
    </ul>
    <h1>Example - src/components/component/firstcomponent</h1>

</div>