<div>
    <h1>You can create new module modules</h1>
    <h3>What is a Module?</h3>
    <p>You can think of a module as a container for the different parts of your app – controllers, services, filters, directives, etc.</p>

    <p>Why?</p>
    <p>Most applications have a main method that instantiates and wires together the different parts of the application.</p>

    <p>Angular apps don't have a main method. Instead modules declaratively specify how an application should be bootstrapped. There are several advantages to this approach:</p>

    <ul>
        <li>The declarative process is easier to understand.</li>
        <li>You can package code as reusable modules.</li>
        <li>The modules can be loaded in any order (or even in parallel) because modules delay execution.</li>
        <li>Unit tests only have to load relevant modules, which keeps them fast.</li>
        <li>End-to-end tests can use modules to override configuration.</li>
    </ul>

    <main></main>

    <h1>Example - src/modules/main/main.js</h1>

</div>