<div ng-controller="auctionCtrl" style="margin-bottom:50px;">
	<div class="row">
		<a href="upauction">
		<div class="col-md-5 col-md-offset-3 card" id="live-a">
			<div>
				<h3 class="line"> Upcomming Auctions <i class="fa fa-clock-o"></i></h3>
				<h2>2 <i class="fa fa-gavel" style="font-size:19px"></i> </h2>
			</div>
		</div>
		</a>
	</div>
<br><hr>
	<div class="line" id="head">LIVE AUCTIONS </div><br>
	<div class="row" id="auction">
		<div class="col-md-3 card" ng-repeat='eq in auctionseq'>
			<div class="a-head"> Auction {{eq.id}} </div>
			<img src="build/sample/Ford-mustang.jpg" class="img-thumbnail" ng-click="carprofile(eq.id)"><hr>
			<div class="a-body">
				<label class='lb'>Equipment:</label><label>{{eq.eq}} </label><br>
				<label class='lb'>Base Bid:</label> <label><i class="fa fa-inr"></i>{{eq.base_bid}} </label><br>
				<label class='lb'>Current Bid:</label> <label><i class="fa fa-inr" ng-if='eq.current_bid!=0'></i>{{eq.current_bid}}</label><br>
				<label class='lb'>Your Bid:</label> <label><i class="fa fa-inr" ng-if='eq.your_bid!=0'></i> </label>
				<button class="btn bid" ng-click='bidnow($index)' data-toggle="modal" data-target="#myModal">Bid Now</button>
			</div>
		</div>
	</div>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">BID NOW</h4>
        </div>
        <div class="modal-body">
        	<label class="lb">Equipment:</label> <label>{{bid.eq}} </label><br>
        	<label class="lb">Current Bid:</label> <label ng-if='bid.current_bid!=0'><i class="fa fa-inr"></i>{{bid.current_bid}}</label><br>
        	<label class="lb">Your Bid:</label>
        		<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-inr"></i></span>
					<input type="number" ng-model='bidprice' class="form-control" step="1000" min="{{limit}}">
				</div>
        </div>
        <div class="modal-footer">
        	<button class="btn btn-primary confirm-btn pull-left" ng-if="confirm==false" ng-click="confirmbid()"> BID Your Price </button>
        	<div ng-if="confirm==true" class="pull-left">
        		<br>
        		<button class="btn btn-primary">Confirm with <i class="fa fa-inr"></i>{{bidprice}} ?</button>
        		&nbsp;&nbsp;<button class="btn btn-danger" ng-click="changebid()">Change Bid</button>
        		&nbsp;&nbsp;<button class="btn btn-danger" data-dismiss="modal" >NO</button>
        	</div>
        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--Modal ends Here-->

</div>
<style type="text/css">
	body{background:#f4f6f9;}
	.card{border-radius:2px; }
	.line{ margin:5px }
	#live-a{text-align:center;padding:10px;
		color:#fff;background:url('build/images/auction.jpg'); background-size:cover;}
	#live-a h2{margin-top:0;}
	#live-a div{border:1px solid grey;padding-top:15px;padding-bottom:5px; background:rgba(0,0,0,0.7);}
	.fa-clock-o{font-size:32px;}
	.row a{color:initial;}
	#head{margin:auto;font-size:19px;width:50%;font-weight:bold;  }
	#auction .col-md-3{margin:auto; width:17%;padding:0;margin:13px;}
	#auction img {cursor:pointer;}
	.a-body{padding-left:3px;padding-bottom:10px; }
	.a-head{ text-align:center;font-size:16px;background:#0057a3;color:#fff; }
	.a-body label{padding-left:10px;}
	.a-body img{width:100%; }
	.lb{min-width:70px;font-weight:normal;}
	hr{margin:5px;}
	.bid{border:1px solid navy;background:#d8d8d8;border-radius:20px;padding:3px 14px 3px 14px;}
	.modal-body{padding-left:20% }
	.modal-body .lb{width:90px;}
	.modal-body .input-group input{width:190px;}
	.confirm-btn{padding-left:20px;padding-right:20px;border:1px outset black;}
</style>