@import 'style';

#add{float:right;background:$blue;margin-right:10%;color:white; }

/*Hover card*/
.eq-card{margin-right:28px;margin-bottom:30px;background:#fff  }
.eq-image{max-height:400px;text-align: center;	}
.eq-desc{padding:5px;}
.eq-desc span{}


