<br><br>
<div class="line">Complete Profile</div>
<br>
<form>
	<div class="label-container">
		<label><i class="fa fa-caret-right"></i> City : </label>
		<input type="text" ng-model='profile.city' class="form-control" placeholder="Enter City" required>
	</div>
	<div class="label-container">
		<label><i class="fa fa-globe"></i> State : </label>
		<input type="text" ng-model='profile.state' class="form-control" placeholder="Enter State" required>
	</div>
	<div class="label-container">
		<label><i class="fa fa-caret-right"></i> GSIN : </label>
		<input type="text" ng-model='profile.GSIN' class="form-control" placeholder="Enter GSIN" required>
	</div>
	<div class="label-container">
		<label><i class="fa fa-caret-right"></i> Zip Code : </label>
		<input type="text" ng-model='profile.zipcode' class="form-control" placeholder="Zip Code" required>
	</div>
	<div>
		<input type="submit" value="Save Details" class="btn btn-primary pull-right">
	</div>
</form>
<style type="text/css">
	.line{width:400px;margin:auto;color:navy }
</style>