<div ng-controller="profileCtrl">
	<div class="card">
		<label class="label-primary mainlabel">Profile</label>
		<br><br>
		<div class="row">
			<div class="col-md-9">
				<div class="label-container col-md-9">
					<label><i class="fa fa-caret-right"></i> Name : </label><span> {{profile.first_name}} {{profile.last_name}} </span>
				</div>
				<div class="label-container">
					<label><i class="fa fa-phone"></i> Mobile : </label><span> {{profile.mobile}} </span>
				</div>
				<div class="label-container">
					<label><i class="fa fa-envelope"></i> Email : </label><span> {{profile.email}} </span>
				</div>	
				<div class="label-container">
					<label><i class="fa fa-user"></i> Type : </label><span> {{category}} </span>
				</div>	
				<div class="label-container">
					<label><i class="fa fa-map-marker"></i> Address : </label><span> {{profile.address}} </span>
				</div>

				<div class="col-md-12" style="padding:0;">
					<div class="slide-animate" ng-include="next"></div>
				</div>
			</div>
			<div class="col-md-3">
				other things here
			</div>
		</div><!--row ends-->
	</div>
</div>

<style>
body{background:#eef1f6}
	.card{padding:10px 40px 40px 40px;}
	.mainlabel{margin-bottom:20px; }
	.label-container{display:inline-block; border-bottom:1px solid #e2e2e2; min-width:37% ;margin-right:5%; margin-bottom:22px;}
	.label-container label{padding-right:10px;padding-left:5px;font-weight:normal;  }
	.label-container span{color:navy;}
	.label-container input {color:navy; width:100%;background:transparent;border-radius:0;border:none;border-bottom:1px solid grey;}
	.form-control:focus {border-color:grey;box-shadow:1px 1px 3px grey }
}
</style>